html, body {
    background-image: url(bg.jpg);
    background-position: middle;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
}

input[type="text"], 
input[type="password"], 
input[type="number"],
input[type="date"],
input[type="email"],
textarea, 
textarea.form-box {
	height: 40px;
    margin: 0;
    padding: 10px 20px;
    line-height: 30px;
    vertical-align: middle;
    background: #f8f8f8;
    border: 3px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #000;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

input[type="text"]:focus, 
input[type="password"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
textarea:focus, 
textarea.form-box:focus {
    outline: 0;
    color: #000;
	background: #fff;
    border: 3px solid #ccc;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, 
textarea:-moz-placeholder, textarea.form-box:-moz-placeholder { color: #888; }

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, 
textarea:-ms-input-placeholder, textarea.form-box:-ms-input-placeholder { color: #888; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder, textarea.form-box::-webkit-input-placeholder { color: #888; }



button.btn {
	height: 40px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #0EBFE9;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

button.btn:hover { opacity: 0.6; color: #fff; }

button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

button.btn:focus { outline: 0; opacity: 0.6; background: #4aaf51; color: #fff; }

button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #4aaf51; color: #fff; }

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #0EBFE9;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1 {
	margin-top: 10px;
	font-size: 30px;
    font-weight: 100;
    color: #555;
    line-height: 40px;
    text-align: center;
}

h2 {
	font-size: 18px;
    font-weight: 300;
    color: #555;
    line-height: 25px;
    text-align: left;
}

img { max-width: 100%; }

::-moz-selection { background: #0EBFE9; color: #fff; text-shadow: none; }
::selection { background: #0EBFE9; color: #fff; text-shadow: none; }


.btn-link {
	display: inline-block;
	height: 40px;
	margin: 5px;
	padding: 10px 20px 0 20px;
	background: #0EBFE9;
	font-size: 14px;
    font-weight: 300;
    line-height: 10px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link:hover, .btn-link:focus, .btn-link:active { outline: 0; opacity: 0.7; color: #fff; }

.btn-link.btn-link-facebook { background: #4862a3; }
.btn-link.btn-link-twitter { background: #55acee; }
.btn-link.btn-link-google-plus { background: #dd4b39; }

.btn-link i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
}

.inner-bg {
    padding: 100px 0 170px 0;
}

.form-box {
    margin-bottom:0px;
}

.form-top {
	overflow: hidden;
	padding: 0px 25px 15px 25px;
	background: #fff;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
    text-align: middle;
    vertical-align: middle;
}

.form-bottom {
	overflow: hidden;
	padding: 0px 25px 15px 25px;
	background: #fff;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
    text-align: middle;
    vertical-align: middle;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #0EBFE9;
}

.social-login-buttons {
	margin-top: 10px;
}

.gender {
    height: 40px;
    margin: 0;
    padding: 10px 20px;
    line-height: 30px;
    vertical-align: middle;
    background: #f8f8f8;
    border: 3px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.validation {
    color: #900;
    font-size: 15px;
}
.nav, .pagination, .carousel, .panel-title a { 
    cursor: pointer; 
}
  
.active { 
    color: #0EBFE9; 
    font-weight: bold; 
}  
#map {
    height: 100%;
}
