<div class="inner-bg">
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3 form-box">
            <div class="form-top">
                <h1>ping.u registration</h1>
            </div>
            <div class="form-bottom">
                <form name="registrationform" role="form" method="post" class="login-form" ng-submit="ctrl.onReg()" novalidate>

                    <div class="form-group">
                        <label class="sr-only" for="username">username</label>
                        <input type="text" name="username" placeholder="username*" class="username form-control" id="username" ng-model="ctrl.users.username"
                            required>
                    </div>
                    <div class="validation" data-ng-show="registrationform.username.$touched || registrationform.$submitted">
                        <div data-ng-show="registrationform.username.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Username is required
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="password">password</label>
                        <input type="password" name="password" placeholder="password*" class="password form-control" id="password" ng-model="ctrl.users.password"
                            required>
                    </div>
                    <div class="validation" data-ng-show="registrationform.password.$touched || registrationform.$submitted">
                        <div data-ng-show="registrationform.password.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Password is required
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="cfmpass">confirm password</label>
                        <input type="password" name="cfmpass" placeholder="confirm password*" class="cfmpass form-control" ng-model="ctrl.users.cfmpass"
                            id="cfmpass" ng-required="ctrl.users.password" required>
                    </div>

                    <div class="validation" data-ng-show="registrationform.cfmpass.$touched || registrationform.$submitted">
                        <div data-ng-show="registrationform.cfmpass.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Please confirm your password
                        </div>
                        <div data-ng-show="ctrl.users.password != ctrl.users.cfmpass">
                            <span class="glyphicon glyphicon-alert"></span> Passwords do not match
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="first_name">first name</label>
                        <input type="text" name="first_name" placeholder="first name*" class="first_name form-control" id="first_name" ng-model="ctrl.users.first_name"
                            required>
                    </div>
                    <div class="validation" data-ng-show="registrationform.first_name.$touched || registrationform.$submitted">
                        <div data-ng-show="registrationform.first_name.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Name is required
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="last_name">last name</label>
                        <input type="text" name="last_name" placeholder="last name*" class="last_name form-control" id="last_name" ng-model="ctrl.users.last_name"
                            required>
                    </div>
                    <div class="validation" data-ng-show="registrationform.last_name.$touched || registrationform.$submitted">
                        <div data-ng-show="registrationform.last_name.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Name is required
                        </div>
                    </div>

                    <!--div class="form-group">
                            <label class="sr-only" for="birthday">birthday</label>
                            <input type="date" name="birthday" placeholder="birthday" class="birthday form-control" id="birthday" ng-model="ctrl.users.birthday" required>
                        </div-->

                    <div class="form-group">
                        <label class="sr-only" for="gender">gender</label>
                        <select name="gender" placeholder="gender" class="gender form-control" id="gender" ng-model="ctrl.users.gender" required>
                            <option value="M"> male</option>
                            <option value="F"> female</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="mobile">mobile</label>
                        <input type="number" name="mobile" placeholder="mobile no*" class="mobile form-control" id="mobile" ng-model="ctrl.users.mobile"
                            ng-pattern="ctrl.users.mobileFormat" required>
                    </div>
                    <div class="validation" data-ng-show="registrationform.mobile.$touched || registrationform.$submitted">
                        <div data-ng-show="registrationform.mobile.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Mobile number is required
                        </div>
                        <div data-ng-show="registrationform.mobile.$error.pattern">
                            <span class="glyphicon glyphicon-alert"></span> Mobile number is invalid
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="email">email</label>
                        <input type="text" name="email" placeholder="email address*" class="email form-control" id="email" ng-model="ctrl.users.email"
                            ng-pattern="ctrl.users.emailFormat" required>
                    </div>
                    <div class="validation" data-ng-show="registrationform.email.$touched || registrationform.$submitted">
                        <div data-ng-show="registrationform.email.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Email is required
                        </div>
                        <div data-ng-show="registrationform.email.$error.pattern">
                            <span class="glyphicon glyphicon-alert"></span> Email is invalid
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="city">city</label>
                        <input type="text" name="city" placeholder="Singapore" class="city form-control" id="city" ng-model="ctrl.users.city" required>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="company">company</label>
                        <input type="text" name="company" placeholder="company*" class="company form-control" id="company" ng-model="ctrl.users.company"
                            required>
                    </div>
                    <div class="validation" data-ng-show="registrationform.company.$touched || registrationform.$submitted">
                        <div data-ng-show="registrationform.company.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Company is required
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="job">job</label>
                        <input type="text" name="job" placeholder="job position" class="job form-control" id="job" ng-model="ctrl.users.job" required>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="bio">bio</label>
                        <input type="text" name="bio" placeholder="about yourself" class="bio form-control" id="bio" ng-model="ctrl.users.bio" required>
                    </div>

                    <button type="submit" id="submit" value="submit" class="btn">sign up</button>

                </form>

                <h2>or sign up with:</h2>

                <div class="social-login-buttons">

                    <a class="btn btn-link btn-link-facebook" href="#">
                        <i class="fa fa-facebook"></i> facebook
                    </a>

                    <a class="btn btn-link btn-link-twitter" href="#">
                        <i class="fa fa-twitter"></i> twitter
                    </a>

                    <a class="btn btn-link btn-link-google-plus" href="#">
                        <i class="fa fa-google-plus"></i> Google+
                    </a>

                </div>
                <div>
                    <!--img src="assets/dispic-default.png" alt="Default" height="230" width="230"-->
                    <font size="2px" class="form-group">Not a member yet? Sign up
                        <a href="/app/register/register.html">here</a>
                    </font>
                </div>
            </div>
        </div>
    </div>
</div>