<div class="panel panel-default">
    <div class="panel-body">
        <!--h4 ng-if='!ctrl.user'>Please <a ui-sref='login'>login</a> first.</h4-->
        <h2 ng-if='ctrl.user.username'>Welcome back, {{Users.user}}!</h3>
    </div>
</div>