<div class="inner-bg">
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3 form-box">
            <div class="form-top">
                <h1>welcome to ping.u</h1>
            </div>
            <div class="form-bottom">
                <form name="loginForm" role="form" method="post" class="login-form" ng-submit="ctrl.login()" novalidate>

                    <div class="form-group">
                        <label class="sr-only" for="username">username</label>
                        <input type="text" name="username" placeholder="username" class="user form-control" id="username" ng-model="ctrl.user.username">
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="password">password</label>
                        <input type="password" name="password" placeholder="password" class="password form-control" id="password" ng-model="ctrl.user.password">
                    </div>

                    <div class- "form-group">
                        <button type="submit" id="submit" value="submit" class="btn">log in</button>

                        <div ng-if="ctrl.msg.length > 0" class="sr-only" role="alert">
                            <i class="fa fa-exclamation-triangle"></i> {{ctrl.msg}}</div>
                    </div>


                </form>

                <h2>or login with:</h2>

                <div class="social-login-buttons">

                    <a class="btn btn-link btn-link-facebook" href="#">
                        <i class="fa fa-facebook"></i> facebook
                    </a>

                    <a class="btn btn-link btn-link-twitter" href="#">
                        <i class="fa fa-twitter"></i> twitter
                    </a>

                    <a class="btn btn-link btn-link-google-plus" href="#">
                        <i class="fa fa-google-plus"></i> Google+
                    </a>

                </div>
                <div>
                    <!--img src="assets/dispic-default.png" alt="Default" height="230" width="230"-->
                    <font size="2px" class="form-group">Not a member yet? Sign up
                        <a href="/app/register/register.html">here</a>
                    </font>
                </div>
            </div>
        </div>
    </div>
</div>